<h1>Admin Dashboard</h1>

<p> 
  Number of Categories: <%= @category_count %> 
  <%= link_to "Browse Categories", admin_categories_path, class:"btn btn-info" %>
</p>
<p> 
  Number of Products: <%= @product_count %>
  <%= link_to "Browse Products", admin_products_path, class:"btn btn-info" %>
</p>
