<section class="about-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <body>
    <div class="jumbotron text-center">
      <h2>Jungle: The future of eCommerce </h2>
      <h4>Tired of giving your hard-earned money to Amazon?</h4>
      <p> Well, here at Jungle, we strive to be your go-to ecommerce website. There's no ethical consumption under capitalism but we'll try our best to provide a (mostly) ethical and sustainable alternative. No need to sacrifice your morals ever again!</p>
    </div>
  </body>

</section>